body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background: linear-gradient(rgba(40, 38, 58, 0.85), rgba(40, 38, 58, 0.85)), url('afce65d8-7606-4689-8ab3-9e76f7c22551.png') no-repeat center center fixed;
    background-size: cover;
    color: #222;
}

.login-container {
    background-color: rgba(40, 38, 58, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    max-width: 500px;
    width: 100%;
    height: 420px;
    margin: 120px auto;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

h1 {
    text-align: center;
    margin-bottom: 28px;
    color: white;
    font-size: 2.2em;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 14px;
    margin: 14px 0;
    border: 1.5px solid #ccc;
    border-radius: 7px;
    font-size: 1.1em;
}

label {
    color: white;
    font-weight: bold;
}
p{
    color: white;
    text-align: center;
}

a {
    color: #ffd700;
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #edd23c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #aa920b;
}

.error {
    color: red;
    font-size: 0.9em;
}
